<!-- <router-outlet></router-outlet> -->

<!-- <app-intro></app-intro> -->

<!-- <app-interval-timer></app-interval-timer> -->

<!-- <app-from-event></app-from-event> -->

<!-- <app-map-filter></app-map-filter> -->

<!-- <app-tap></app-tap> -->

<!-- <app-share></app-share> -->
<!-- <app-concat></app-concat> -->
<!-- <app-ciclo-observable></app-ciclo-observable> -->
<!-- <app-buffer-time></app-buffer-time> -->
<!-- <app-switch-map></app-switch-map> -->
<!-- <app-fork-join></app-fork-join> -->
<!-- <app-concat-map></app-concat-map> -->
<!-- <app-merge-map-flat-map></app-merge-map-flat-map> -->
<!-- <app-multiples-observables></app-multiples-observables> -->
<!-- <app-scan></app-scan> -->
<!-- <app-subject></app-subject> -->
<!-- <app-subject-multicast></app-subject-multicast> -->
<!-- <app-replay-subject></app-replay-subject> -->
<!-- <app-behavior-subject></app-behavior-subject> -->
<!-- <app-debounce-time></app-debounce-time> -->
<app-create-vs-generate></app-create-vs-generate>